<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.superplayer">

    <!-- 直播的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.autofocus" /> <!-- 华为手机权限 -->
    <!-- <uses-permission android:name="android.permission.WRITE_CONTACTS" /> -->
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" /> <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 访问网络,网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- <uses-permission android:name="android.permission.READ_CONTACTS" /> -->
    <!-- 拨打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" /> <!-- 分享权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.nfc.hce" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />

    <application
        android:name=".application.AndroidApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- tts -->
        <activity android:name=".ui.activity.my.TTSActivity" />
        <!-- 权限 背景透明 -->
        <activity
            android:name=".permission.ShadowActivity"
            android:theme="@android:style/Theme.Translucent" />
        <!-- 拍照 背景透明 -->
        <activity
            android:name=".takephoto.ShadowActivity"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base">
        </activity>
        <activity android:name=".ui.activity.my.LoginActivity" />
        <activity android:name=".ui.activity.WebActivity" />
        <activity android:name=".ui.activity.my.NoticeListActivity" />
        <!-- 音乐播放器 -->
        <activity android:name=".ui.activity.my.MediaPlayerActivity" />

        <service android:name=".service.MusicService" />

        <activity android:name=".ui.activity.my.FFmpegActivity" />
        <!-- 直播 -->
        <activity android:name=".ui.activity.my.LiveTelecastActivity" />
<!--         视频播放-->
        <activity android:name=".ui.activity.my.ExoPlayerActivity">
        </activity>
        <!-- 测试生命周期 -->
        <activity android:name=".ui.activity.test.StringTestActivity">
        </activity> <!-- glide -->
        <activity android:name=".ui.activity.test.BActivity" />
        <!-- rx语法 -->
        <activity android:name=".ui.activity.test.RxJavaActivity">
        </activity>
        <!-- 属性动画 -->
        <activity android:name=".ui.activity.test.AnimatorActivity">
        </activity>
        <!-- 动画 -->
        <activity android:name=".ui.activity.test.giftActivity">
        </activity>
        <!-- 蓝牙 -->
        <activity android:name=".ui.activity.test.BluetoothActivity">
        </activity>
        <!-- 仿网易云 tab -->
        <activity android:name=".ui.activity.test.ViewPageIndicatorActivity">

             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>
        <!-- ﻿悬浮在整个app 上的按钮 -->
        <!-- ﻿上下滚动的TextView -->
        <activity
            android:name=".ui.activity.test.AppFloatActionButtonActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.activity.my.PictureActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".ui.activity.hign.SocketActivity">
        </activity>
        <!-- socket -->
        <activity android:name=".ui.activity.hign.SocketStompActivity">
        </activity>
        <activity android:name=".ui.activity.hign.StompActivity" />
        <activity android:name=".ui.activity.my.TtsDemo" />
        <activity
            android:name=".ui.activity.media.AlivcPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize">

        </activity>

        <service
            android:name="com.aliyun.player.alivcplayerexpand.view.dlna.service.ClingUpnpService"
            android:exported="false" />

        <activity android:name=".ui.activity.media.MainMediaActivity">
        </activity>
<!--        兼容视频播放：-->
        <activity android:name=".ui.activity.my.WebVideoActivity"
            android:hardwareAccelerated="true"
            android:configChanges="orientation|screenSize|keyboardHidden"/>

        <activity
            android:name="com.tencent.smtt.sdk.VideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:alwaysRetainTaskState="true">
            <intent-filter>
                <action android:name="com.tencent.smtt.tbs.video.PLAY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>